[2016-07-28 09:49] Harald67 opened #1 "test"
test only

[2016-07-28 09:50] Harald67 commented on #1
ok.

[2016-07-28 09:50] #1 closed

[2016-07-29 09:31] gilbertohasnofb opened #2 "mixture lever problems"
The mixture lever has no limits for its movement and can go inside the panel or float in the cockpit (see images below). It also is not connected to `/controls/engines/engine/mixture`, but only to `/controls/engines/engine/mixture-lever`, which means the mixture is always at 0% when using either the keyboard keys `m` and `M` or the mouse to drag the lever.

![c150-2](https://cloud.githubuserconten

[2016-07-29 09:32] gilbertohasnofb commented on #2
See the properties values here:

![c150-6](https://cloud.githubusercontent.com/assets/5700795/17244044/1464f740-5580-11e6-9727-bd36f57e7563.jpg)

[2016-07-29 09:34] gilbertohasnofb opened #3 "Back of the propeller should be dark"
The back side of the propeller (i.e. the side visible from the cockpit) should be dark grey or black. This is done by Cessna so there is less risk of reflections to the pilot viewpoint

![c150-4](https://cloud.githubusercontent.com/assets/5700795/17244098/68bd6dcc-5580-11e6-8647-86f4c9780f0b.jpg)

[2016-07-29 09:35] gilbertohasnofb opened #4 "Turn coordinator gauge should be slightly resized"
Turn coordinator gauge should be slightly resized, see:

![c150-7](https://cloud.githubusercontent.com/assets/5700795/17244109/7f4a3ac0-5580-11e6-8f9b-0610011d8978.jpg)

[2016-07-29 09:37] gilbertohasnofb opened #5 "Borrow Heading indicator and Turn Coordinator gauges from c172p"
Borrow Heading indicator and Turn Coordinator gauges from c172p, since they are much closer to how the c150 looks in RL:

![](http://www.aviafilms.com/photos/cessna-cockpit.jpg)

![](http://s11.postimg.org/bgkjtyaab/FG_1.jpg)

But for the heading indicator, normally the c150 does not have the heading bug nor the heading bug knob, so that could be removed.

[2016-07-29 09:41] gilbertohasnofb opened #6 "Some gauges have wrong limits"
Some gauges have wrong limits:

- airspeed indicator: green arc should be from 40 knots until 110 knots and yellow from 110 until 150
- tachometer: green arc should range from 20 until 27, see: http://www.jacobsflightservices.com/cms-assets/images/658174.20150422113524.jpg

[2016-07-29 09:41] gilbertohasnofb commented on #6
@Harald67 I would be happy to work on those textures and instruments if you'd like to, just let me know

[2016-07-29 09:42] gilbertohasnofb opened #7 "Compass too small"
The compass is too small, compare this:

![](https://i.ytimg.com/vi/1NsDoEizhU0/maxresdefault.jpg)

With this:

![c150-5](https://cloud.githubusercontent.com/assets/5700795/17244325/87aed9fe-5581-11e6-9340-1ed8a6555ad7.jpg)

Also note that the compass has a cable going to the roof of the plane, which is also missing

[2016-07-29 17:22] Harald67 commented on #2
I was able to reproduce the problem of the moving limits of the lever with m and M keys.
The fact that the mixture property is still at 0 is normal, this is a property that I use to control the jsbsim engine and is not directly tied to the mixture lever position. With a running engine the two properties probably have the same value.

[2016-07-29 17:29] gilbertohasnofb commented on #2
Well, that seems to be a problem then because how can I start the engine with that property at 0? When I click hot start, for instance, both mixtures get the same value (and the engine isn't on yet). With a cold start, the mixture is always at 0, and no matter how much I crank it the engine never starts.

I also noticed that the property `/controls/engines/engine/primer` is set to `3` during a hot

[2016-07-29 17:52] Harald67 commented on #2
From the 'Cold start' button :
- master ON
- throttle 30%
- mixture 100%
- ignition switch on BOTH
- prime 3 times (that is 6 times Shift-o key)
- press 's' until the engine starts

[2016-07-29 18:20] Harald67 commented on #6
The old asi texture that I made 10 years ago had the correct limits but I can not find the python script that I used to create the svg file that was used to finally make the texture (see c150-instruments.rgb in Panel/Instruments/Texture)...
You can work on those textures if you like to.

[2016-07-29 21:33] gilbertohasnofb commented on #6
Yes, I'd like to do that. Thanks for giving me access to the repository. And once I have the new textures, should I push them directly to the `master` branch or should we use pull requests (PRs)?

[2016-07-29 21:37] gilbertohasnofb commented on #2
I am doing exactly that but I can't start the engine :cry:

My console outputs a bunch of messages like this, by the way:

[code]

I really feel that for some reason the mixture is read as being at 0% even though I have it full rich.

[2016-07-30 01:48] gilbertohasnofb commented on #6
@Harald67 So I created the new RPM gauge based on the photograph I posted above, and here is how it looks in the sim:

![c150-1](https://cloud.githubusercontent.com/assets/5700795/17267400/6b76367e-5608-11e6-9f58-9ba083906d5e.jpg)

Tomorrow I will make the airspeed indicator and then push the modifications.

[2016-07-30 01:50] gilbertohasnofb opened #8 "Remove Hobbs gauge"
I would suggest to remove the Hobbs gauge given that the RPM gauge also displays the engine time (note how they even have the same value):

![c150-0](https://cloud.githubusercontent.com/assets/5700795/17267405/9587ba1e-5608-11e6-9ac9-b4141d5b3716.jpg)

Maybe we could add an EGT gauge there? See: http://www.jacobsflightservices.com/cms-assets/images/658174.20150422113524.jpg

[2016-07-30 02:10] gilbertohasnofb commented on #6
Actually I decided to do it right now:

![c150](https://cloud.githubusercontent.com/assets/5700795/17267505/77c3c9ca-560b-11e6-9f5c-898f4c91c105.jpg)

[2016-07-30 02:12] gilbertohasnofb commented on #2
By the way, the levers have indeed been fixed, so we can close this issue. But I still would like to know more about starting the engine as I am not being able to do so here

[2016-07-30 06:53] Harald67 commented on #8
The two Hobbs gauges are not counting the same thing.
The one on the right is counting as soon as the engine is started.
The one on the left is counting based on the engine rpm (and the reference rpm value is probably wrong). In practice they have similar values except if you spend a lot of time taxiing.
We could probably put an EGT here (but frankly I think you found the only c150 panel with an e

[2016-07-30 07:08] Harald67 commented on #2
can you post the whole console log that is outputed when pressing the 's' key ? mixture and pump should be higher than 0.

[2016-07-30 07:48] Harald67 commented on #6
I just saw that the rpm needle is all black, can you check that ?

[2016-07-30 07:57] #4 closed

[2016-07-30 10:21] gilbertohasnofb commented on #6
Sure, I will do it right now!

[2016-07-30 10:35] gilbertohasnofb commented on #8
I see.

That's funny, that was one of the first images I have found online. But after you mention it, I did realise that very often they have the Hobbs meter there. I have also seen once or twice an ADF gauge at that position.

Yes, that's a nice idea but it's not a priority. My point was that I thought both the Hobbs and the tachometer counter were showing the same value, but since they are not a

[2016-07-30 10:35] #8 closed

[2016-07-30 10:38] gilbertohasnofb commented on #2
Here we go:

[code]

[2016-07-30 10:39] gilbertohasnofb opened #10 "Invert scrolling for mixture and throttle levers"
Invert mouse scrolling for mixture and throttle levers (so that scrolling up increases the values and scrolling down decreases them)

[2016-07-30 10:46] gilbertohasnofb commented on #6
Done, see the new PR

[2016-07-30 10:52] gilbertohasnofb commented on #4
:+1:

[2016-07-30 10:54] gilbertohasnofb commented on #5
@Harald67 I noticed that we don't have a heading indicator in this model, but rather the ADF is in that position! Was this intentional? It seems to me that all pictures of the 150 cockpit show a heading indicator on that position (below the artificial horizon).

Can I then replace the turn coordinator for the c172p's one, and the ADF for the 172's heading indicator? (I will remove the heading bug

[2016-07-30 10:59] gilbertohasnofb commented on #5
More photographs of cockpits showing the heading indicator always on that position:
- cockpit without ADF
  ![](http://gqwyatt.com/pictures/highres/16G-cockpit01.jpg)
- no ADF again
  ![](http://cdn-www.airliners.net/photos/airliners/7/0/0/1520007.jpg?v=v20)
- just one VOR, and the ADF is on the position of the other one
  ![](http://www.aviafilms.com/photos/cessna-150-aerobat-cockpit.jpg)
- the A

[2016-07-30 17:08] #6 closed

[2016-07-30 17:08] #10 closed

[2016-07-30 17:16] Harald67 commented on #5
I think we have more gauges than free slots.
So let's remove one VOR for now (and one radio) and put the ADF gauge in place of the the bottom VOR gauge.
And you can replace the turn indicator and add the heading indicator of the 172.
I'll give the option to use an ADF or a VOR later.

[2016-07-30 18:00] Harald67 commented on #2
good catch again, I am using shift-o to pump and you are using the lever but the lever does not work correctly.

[2016-07-30 18:14] gilbertohasnofb commented on #2
I can confirm that using `Shift+O` does indeed makes the priming system work (according to the console), but I still can't start the plane for some reason! See:

[code]

Two pairs of eyes are always better than one pair! :smiley:

[2016-07-30 18:14] gilbertohasnofb commented on #5
:+1:

[2016-07-30 18:16] gilbertohasnofb opened #13 "Smoke in the cabin"
When cranking the engine during the engine startup, you can see 2D smoke inside the cabin. I would suggest two things:

- use particle effects instead of 2D smoke
- make these visible only if the view is not `internal`

[2016-07-30 18:43] gilbertohasnofb opened #14 "Missing fuel tank cap"
Missing fuel tank cap on the right wing:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17272434/4a1e8a56-5696-11e6-8ef5-d677b5ff4347.png)

[2016-07-30 18:57] Harald67 commented on #2
I changed the condition a bit so I can start the engine with one less primer pump, so with 3 pumps it should work for you too.

[2016-07-30 18:58] Harald67 commented on #3
I pushed a quick texture remap, but that propeller need to be redone anyway, same for the semi-transparent disk.

[2016-07-30 18:59] #3 closed

[2016-07-30 19:02] gilbertohasnofb commented on #3
That's totally understandable, but shouldn’t we leave this open so we don't forget about it? This issue with the back of the propeller is a common problem with GA aircrafts in the sim and it's easy not to spot it

[2016-07-30 19:03] Harald67 commented on #14
Yes, I'm currently working on the left wing, when it's done i'll duplicate it to make the right wing.

[2016-07-30 19:03] gilbertohasnofb commented on #2
I will test it in the `master` branch in a second, I am working on the instruments right now. But according to the console log above, I did indeed use 3 pumps, see the first line: `engineTemp=59.22572355959244 pump=3 => mixture=1` So it's still a mystery to me why you are able to start the plane and I am not.

[2016-07-30 19:04] gilbertohasnofb commented on #14
I see, no problems! :smile:

[2016-07-30 20:06] gilbertohasnofb opened #15 "Add flashlight effect to missing objects in the panel"
Add flashlight effect to missing objects in the panel: radios, Hobbs meter, all switches and knobs, bases of yoke, levers, ignition

[2016-07-30 20:09] gilbertohasnofb opened #16 "Dark gauges"
Some gauges (ADF, fuel and oil) are too dark during the day, and have too intense brightness at night with the instrument lightning. I can't find anything wrong on their xml file, so I suspect this has something to do with the materials in Blender (and unfortunately I am almost totally clueless with Blender to check this out). See:

![c150-1](https://cloud.githubusercontent.com/assets/5700795/1727

[2016-07-30 20:10] gilbertohasnofb opened #17 "Hole in the fuselage above the cockpit"
There is a hole in the fuselage above the cockpit, see:

![c150-0](https://cloud.githubusercontent.com/assets/5700795/17272871/50073a1a-56a2-11e6-884b-7e3b0506191c.jpg)

[2016-07-30 20:13] gilbertohasnofb opened #18 "Default view point too zoomed in"
I believe that the default view point too zoomed in. This is the default:

![c150-0](https://cloud.githubusercontent.com/assets/5700795/17272877/c1b2eb6e-56a2-11e6-82ff-2aa3f218c035.jpg)

And this is what I would suggest (FOV 76.5):

![c150-1](https://cloud.githubusercontent.com/assets/5700795/17272879/cd7ffb62-56a2-11e6-8def-edd78b6dae9c.jpg)

[2016-07-30 20:13] gilbertohasnofb commented on #18
@Harald67 Notice how the bottom row of the basic instruments are not on the screen with our current default view. If you agree with the proposed modification, I can work on it myself.

[2016-07-30 20:18] gilbertohasnofb opened #19 "Issues with the aircraft "configuration" menu"
Here are some issues with the aircraft "configuration" menu:

- do we really want to load the aircraft with the configuration menu opened? I find it a bit intrusive, and for people who want to do a cold start they will have to always close that menu every time they open the sim, which is very annoying
- when toggling between the ALS flashlight, the dialog automatically closes. This means that to t

[2016-07-30 20:18] gilbertohasnofb commented on #19
@Harald67 If you agree with these points, I'd be happy to implement them myself

[2016-07-30 21:37] Harald67 commented on #19
You are right we probably don't need that dialog to be opened at each launch of the sim.
I agree we the other points too.

[2016-07-30 21:38] gilbertohasnofb commented on #19
Ok, so I will work on it.

[2016-07-30 21:58] gilbertohasnofb commented on #19
@Harald67 Is it all right with you if I recreate the same configuration menu but using xml instead of Nasal?

[2016-07-31 06:43] #5 closed

[2016-07-31 06:45] #19 closed

[2016-07-31 07:37] Harald67 commented on #18
There is a problem with the fov ; I get a grey screen because the fov is not correctly initialized.
![fgfs-screen-050](https://cloud.githubusercontent.com/assets/6804046/17275263/f3c69c86-5701-11e6-91b3-5dd9bac20ff3.jpg)
Note that it happens only for the first view, the passenger view is OK.
This is with 2016.2 I think (or some random nightly after 2016.2).

[2016-07-31 07:55] Harald67 commented on #19
Can we have that special color like the other dialogs ? ;)

I also noticed that you changed the battery charge display ; I'm afraid the display will show something near 12V even if the battery is nearly discharged.

[2016-07-31 08:59] gilbertohasnofb commented on #19
I am not too sure about it, I will check it out.

Oh, my bad! The problem was that the battery percentage property actually does not range from 0 to 100, but rather from 0.0 to 1.0, and it wouldn't display correctly in the XML code. In that case I will need to define a new property and use a filter to convert between them.

[2016-07-31 09:00] gilbertohasnofb commented on #18
This is really strange, I will check it out now.

[2016-07-31 09:12] gilbertohasnofb commented on #18
@Harald67 I am also with 2016.2 (I use the stable release 2016.2.1) and I can't reproduce this problem. Do you have some errors in the console? This is what I have as soon as I initialize the sim:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17275659/aae1398c-570f-11e6-83c0-658f3b9ab58f.png)

I also tested all other views, I get no grey screens with any of them.

[2016-07-31 11:33] HHS81 commented on #7
The c182s uses the same compass like shown in the first image, we have modelled it. You might wanna use it.

[2016-07-31 11:45] gilbertohasnofb commented on #7
@HHS81 Thanks Heiko!

@Harald67 In that case I can take care of this myself :smile:

[2016-07-31 13:55] gilbertohasnofb commented on #7
:+1:

[2016-07-31 14:02] Harald67 commented on #18
The field of view is initialized to 0.1 in the tree for the view # 0.
Note that if you specify a '--fov=something' in the parameters then the fov specified in the c150-set.xml are not used and you don't have the grey screen.

[2016-07-31 14:05] gilbertohasnofb commented on #18
I don't understand why it's being initialized to `0.1`, for me it's reading the value that I wrote in the set file: `76.5`. Also, I am not using `--fov=<value>`, so my fov is really being set by the `c150-set.xml` file

[2016-07-31 15:32] gilbertohasnofb commented on #7
@Harald67 Okay, this is half done but I need your help on something. It turns out the original compass was part of the .ac model rather than having a submodel. Since I don't have the .blend file it would be better if you'd remove the old compass and export a new .ac model to the branch `bug-7` (which I already created). In that branch the new model is already correctly positioned, so once we remov

[2016-08-01 18:04] gilbertohasnofb opened #24 "Add more sounds to the airplane"
Add sounds to:
- all knobs, switches, toggles, etc.
- radio panel buttons, knobs
- environmental sounds: wind, rain, thunder

[2016-08-01 18:13] gilbertohasnofb opened #25 "Drag direction of levers"
When I inverted the scrolling direction of the throttle and mixture levers, I also ended up inverting the click and dragging direction as well (which is very anti intuitive). The c172p shows that it's possible to have the proper scrolling direction together with the proper clicking and dragging direction, so I will study how to implement this and make a PR to fix it as soon as possible.

[2016-08-01 18:36] gilbertohasnofb commented on #25
Okay, so what's needed is to add this to the `c150-set.xml` file:

[code]

Then inverting the value of _all_ `<factor>` in all slider animations.

[2016-08-01 19:11] gilbertohasnofb commented on #25
@Harald67 this is done, but before I create a new PR for this fix we have to merge this other PR https://github.com/Harald67/c150/pull/22 so I can update the xml files that are altered in both branches. Would you mind taking a look at that standing PR in the link above? We just need to fix that issue you are having with the FOV

[2016-08-02 06:28] Harald67 commented on #24
We already have wind, but I think I'm (a bit) against the thunder sound as this should not be handled by the aircraft but from the sim itself. Perhaps we can still add it... Anyway I was not able to see rain in the simulator.
There is already a function to play a click (see the on/off animation of the arc radio).

And if you have too much time add a sliders in the sound dialog to configure the cli

[2016-08-02 08:11] gilbertohasnofb commented on #24
@Harald67 This has been discussed before with Thorsten and others in the forum, and there is one good reason why these things are handled by the aircraft instead of the sim: these sounds are really dependent on aircraft type. So a thunder will sound different on a slow propeller plane than on a high speed airliner. Same for rain in the windshield.

Which version are you using? The external rain wa

[2016-08-02 08:12] gilbertohasnofb commented on #18
Closed via https://github.com/Harald67/c150/pull/22

[2016-08-02 08:12] #18 closed

[2016-08-02 09:14] gilbertohasnofb commented on #24
I think I won't be able to check it today, so I am opening a new issue for it so we don't forget. But I am not familiar on how these volumes work anyway, so it might take me a bit of time to learn how to do this

[2016-08-02 09:15] gilbertohasnofb opened #27 "Add click sounds volume to volume dialog"
Add click sounds volume to volume dialog

[2016-08-02 09:15] gilbertohasnofb commented on #27
See: https://github.com/Harald67/c150/issues/24#issuecomment-236812376

[2016-08-02 17:29] #25 closed

[2016-08-05 19:13] #16 closed

[2016-08-05 19:32] gilbertohasnofb commented on #16
:+1:

[2016-08-06 09:37] #14 closed

[2016-08-06 09:55] gilbertohasnofb commented on #14
@Harald67 Looks great! But could you make the caps a separate object than the wings? Or alternatively create some invisible hotspot around it just like in the c182s? This way I can work on the fuel dialog which can be activated by clicking on the caps.

[2016-08-06 09:56] gilbertohasnofb opened #28 "Create fuel dialog"
Create fuel dialog by clicking on the fuel tank caps

[2016-08-06 09:56] gilbertohasnofb opened #29 "Add 3D baggage models"
Add 3D baggage models when baggage weight above a certain threshold

[2016-08-06 09:59] gilbertohasnofb opened #30 "Add option of wheel fairings"
Add an option to the aircraft menu to toggle wheel fairings on and off. Let the user toggle each of the three fairings individually since there are several types of configuration:

![](http://static1.squarespace.com/static/544f2a03e4b03cb72fecc09b/t/545a7058e4b006857d6d8245/1415213185491/?format=750w)

![](http://cdn.airplane-pictures.net/images/uploaded-images/2011/8/18/151827.jpg)

[2016-08-06 10:01] gilbertohasnofb commented on #29
@Harald67 And just confirming, the 150 does not have a baggage door, right? You just put your baggage in the back of the plane using the main door, correct?

[2016-08-06 10:27] Harald67 commented on #17
The correction is not perfect...

[2016-08-06 10:27] #17 closed

[2016-08-06 10:33] Harald67 commented on #29
There is no baggage door, you just throw them in the back of the plane ;)
There is also an optional child seat that you can put there, but probably not very common.

![](http://www.aircraftdealer.com/dealers/d/danbowen/32864/big_89343297.jpg)

[2016-08-06 10:47] gilbertohasnofb commented on #17
Hmm, I think the hole is still there:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17456313/dd2ebb08-5bd3-11e6-946b-f92b28b9a1c0.png)

[2016-08-06 10:51] gilbertohasnofb commented on #29
Yes, that's what I thought :smile: Actually the 150 is the only plane I have flown, but it has been a decade since then :cry:

I would say then to not bother with that child seat. I will add the baggages models according to the weight of the baggage, but because our plane does not have a baggage door it can't have a cool dialog automatically open like the 182s and 172p.

[2016-08-06 14:28] gilbertohasnofb commented on #14
As soon as that is done, I will take care of https://github.com/Harald67/c150/issues/28

[2016-08-06 15:56] #29 closed

[2016-08-06 16:08] Harald67 commented on #28
There is now two fuel caps that you can use for clicking and that you can hide or move if you want.

![image](https://cloud.githubusercontent.com/assets/6804046/17457737/8d1855b6-5c00-11e6-95f3-6263e1caca00.png)

[2016-08-06 16:09] gilbertohasnofb commented on #28
Thanks, that looks cool! I will work on it today

[2016-08-06 16:43] Harald67 commented on #13
I disabled smoke for now, this can be added later again.

[2016-08-06 16:43] #13 closed

[2016-08-06 16:45] gilbertohasnofb commented on #13
:+1:

[2016-08-06 17:03] #28 closed

[2016-08-07 12:18] gilbertohasnofb commented on #15
@Harald67 You missed the right yoke, the flaps lever and the immatriculation plate (where is written `F-C150`)

[2016-08-07 12:19] gilbertohasnofb opened #33 "clock should display local time"
clock should display local time

[2016-08-07 12:19] gilbertohasnofb commented on #2
We can close this, as the mixture lever looks good and works properly. Also, I have been able to start the plane manually since some time ago, so it looks to be all good now!

[2016-08-07 12:19] #2 closed

[2016-08-07 17:03] #33 closed

[2016-08-07 18:06] #15 closed

[2016-08-07 18:08] Harald67 opened #35 "Can not taxi in grass"
The aircraft slows down a lot, and sometimes get stuck in the grass.
Check FDM friction of wheels perhaps.

[2016-08-07 18:10] gilbertohasnofb opened #36 "Instrument knobs should not be illuminated"
Instrument knobs should not be illuminated, see:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17464255/ea2666e6-5cda-11e6-89c4-b5ff9a85e046.png)

[2016-08-07 18:10] gilbertohasnofb commented on #15
:+1:

[2016-08-08 08:19] Harald67 commented on #35
Same problem with the c172p, impossible to taxi correctly on grass. The c172p is not always stuck because of it's engine power but it will break sometimes.
Probably a too high rolling friction of the ground material.

[2016-08-08 08:19] #35 closed

[2016-08-08 08:52] gilbertohasnofb commented on #35
I think the friction of the ground is defined in the xml files inside of `FGDATA/Materials`. Maybe we should ask for someone to review those values for the grass?

[2016-08-08 08:57] Harald67 commented on #35
I had a quick look in material and in the property tree ; I found a jsbsim property for ground but there was a value of 5 for the rolling friction, I could not find that value in Materials/*.
So this probably need to understand how that value is computed or add some nasal code to check the material name under the wheels to know what is the material that is 'bugged'.

[2016-08-08 09:00] #27 closed

[2016-08-08 09:03] gilbertohasnofb commented on #35
If you are using ALS, check for instance `FGDATA/Materials/regions/global-summer.xml`. You will find a definition for the landclass `Grassland`, which has the following friction:

`<friction-factor>0.7</friction-factor>`

Note that there are more than one types of landclass for grass (I believe `GrasCover` and `Greenspace` are other ones), and it also depends on the region you are (since each of t

[2016-08-08 09:05] Harald67 commented on #24
I'm using 2016.2.0...I think I lost the 2016.2.1 when I reverted from the bugged windows nightlies...
Anyway I think that rain and thunder will be for 2016.4

[2016-08-08 09:07] gilbertohasnofb commented on #27
Hmm, I suddenly can't hear the clicks on the master switches nor on ANY knobs in the panel (radio, instruments) nor of the trim wheel. Am I mistaken it and the aircraft never had those?

[2016-08-08 09:08] gilbertohasnofb opened #37 "Bug with the Heading Indicator's knob"
Bug with the Heading Indicator's knob: its rotation axis is not centred in the knob

[2016-08-08 09:09] gilbertohasnofb commented on #27
Yeah, I think I am mistaking this project for some of the other two I work on. Sorry but working on three Cessnas at the same time makes me a bit schizophrenic sometimes :smile:

[2016-08-08 09:10] gilbertohasnofb commented on #24
~~No problems. But please see: https://github.com/Harald67/c150/issues/27#issuecomment-238181317~~

Please ignore

[2016-08-08 09:10] gilbertohasnofb commented on #27
~~No I am not going schizophrenic, there is an open PR for that!~~

Please ignore

[2016-08-10 07:17] #37 closed

[2016-08-10 07:17] #36 closed

[2016-08-10 17:32] gilbertohasnofb commented on #36
Thanks for the fixes today :+1: This panel is looking really great, Harold! :smile:

[2016-08-12 09:14] ghost commented on #13
Is there at all smoke coming out when the engine is cranking? Never saw this (e.g. when flying the aircraft in RL)
see for example here: https://www.youtube.com/watch?v=qxjSAWeFwuo

[2016-08-12 09:38] D-ECHO opened #39 "Coordinates for window animation are wrong"
While implementing the window control via slider I noticed that the coordinates are off so on higher values it sticks into the cabin, can you change that? ;)

[2016-08-12 12:50] gilbertohasnofb commented on #13
There is never smoke in the cabin from cranking the engine, which is why this was reported as a bug and why we disabled it and closed this issue :wink:

The smoke was supposed to be seen from outside only when starting the engine, but it was also seen inside the cabin. Anyway I think we will later implement smoke using the same particle effects that the c172p uses, it looks far better than using s

[2016-08-12 12:51] gilbertohasnofb commented on #39
I do not understand what you mean, could you explain it better? What is the "window control", is it the lever that opens the windows on the doors you are talking about?

[2016-08-12 12:58] ghost commented on #13
i meant the smoke from the outside. as you see on the video there seems to
be none

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Smoke in the cabin (#13)
Datum: 12.08.2016, 14:50 Uhr
An: Harald67/c150
Cc: D-ECHO, Comment

[code]

There is never smoke

[2016-08-12 12:59] ghost commented on #39
i added a Slider so the user can control how far it is open

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Coordinates for window animation are wrong
(#39)
Datum: 12.08.2016, 14:51 Uhr
An: Harald67/c150
Cc: D-ECHO, Author

I do not understand what you

[2016-08-12 13:00] gilbertohasnofb commented on #39
You mean you added it in that PR? Then thanks!

[2016-08-12 13:01] gilbertohasnofb commented on #13
@D-ECHO Ah, I see what you meant, sorry for misunderstanding it!

I think in certain situations there is smoke coming out, I will try to find a video after. But if that's too rare maybe we should just keep without using it.

[2016-08-12 13:01] ghost commented on #39
pr?

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Coordinates for window animation are wrong
(#39)
Datum: 12.08.2016, 15:00 Uhr
An: Harald67/c150
Cc: D-ECHO, Author

You mean you added it in that PR? Then thanks!

—
You are receiving this because you

[2016-08-12 13:02] ghost commented on #39
you can have a look at the code from one of the commits in the pull request

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Coordinates for window animation are wrong
(#39)
Datum: 12.08.2016, 15:00 Uhr
An: Harald67/c150
Cc: D-ECHO, Author

You mean you

[2016-08-12 13:03] gilbertohasnofb commented on #39
PR = pull request, you opened one with some code that ~~@Harold~~ @Harald67 is reviewing

[2016-08-12 13:04] ghost commented on #13
maybe it only shows up with low air temperature (condensation?)

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Smoke in the cabin (#13)
Datum: 12.08.2016, 15:01 Uhr
An: Harald67/c150
Cc: D-ECHO, Mention

@D-ECHO https://github.com/D-ECHO Ah, I see wha

[2016-08-12 13:08] harold commented on #39
Wrong Harold, but good luck with this project. I hope it gets off the ground.

[2016-08-12 13:09] gilbertohasnofb commented on #39
Hahaha my bad, I meant HarAld :stuck_out_tongue_closed_eyes:

[2016-08-12 14:07] ghost commented on #13
or did you maybe mixed it up with this one https://www.youtube.com/watch?v=G5IWNSaC6ME (0:40) ;)

[2016-08-12 14:36] gilbertohasnofb commented on #13
@D-ECHO hehehe

[2016-08-12 15:12] D-ECHO opened #40 "Add human models?"
Just as with the baggage, add human models that show up according to the weight? What do you think?

[2016-08-12 15:14] D-ECHO opened #41 "Primer system"
The engine can start without primer, always starts faster with primer, in cold air usually doesn't start without primer. Do you have an idea how to implement a realistic primer system?

[2016-08-12 15:17] D-ECHO opened #42 "Carburator Icing"
Another interesting topic, could we simulate carburator icing?
-usually happens when the air is cold and the power is low
-doesn't require temperatures below 0! (due to lower pressure the aspirator generates)
-coming icing shows through lower RPM while throttle stays the same
-leads to engine failure if carburator is not heated during beginning icing

[2016-08-12 15:20] D-ECHO opened #43 "Shorter engine start time?"
And another issue ;)
as seen in many yt videos of c150 engine startups, the time before the engine catches and runs is much lower than we have atm. Can this be changed?
Also, can the battery discharge be faster when starter is running, as it takes very much energy?

[2016-08-12 15:56] Harald67 commented on #40
I was about to add the generic pilot.
I just need to look how to change the position of the legs and things like that.

[2016-08-12 15:59] Harald67 commented on #41
That was already done. I changed it because @gilbertohasnofb was unable to start the engine.

[2016-08-12 16:00] gilbertohasnofb commented on #40
@Harald67 great! I would just suggest to let the user select if he wants to show/hide the human models in the aircraft menu. Also, remember to detect which view the user is in, so that if view == pilot then hide the pilot model OR if the view == copilot then hide the copilot model (see the c172p implementation if you are curious)

[2016-08-12 16:02] Harald67 commented on #42
Yes this can be added of course. But someone will have to do a bit of research.
I saw a graphic with plausible icing condition, was it on the forum ?

[2016-08-12 16:04] gilbertohasnofb commented on #42
I just implemented that for the c172p (see branch `bug-360`), and it should get merged in the `master` branch there soon, though probably this enhancement won't make it to FGDATA since I am a bit suspicious of merging it too short time before the release (when we can't test it enough).

But @onox plans to make a better implementation of this. I am using using a single mathematical formula with tem

[2016-08-12 16:05] gilbertohasnofb commented on #41
We could try to troubleshoot this again, though in the next days I will be super busy.

[2016-08-12 16:06] Harald67 commented on #43
I don't know how jsbsim handles the engine start, I'll have to look into the code.

The starter is not modeled yet in the electrical circuit. The battery should discharge a lot faster as soon as the started is added.

[2016-08-12 16:12] Harald67 commented on #42
That's OK with me.
But I'm wondering if we can have something realistic at the end. For example the c150 and the c152 are very similar aircraft but they do not have the same carburetor icing problems, just because the position of the carburetor is different in a c152.

[2016-08-12 16:16] gilbertohasnofb commented on #42
Well, you have to keep in mind that the simulation depends on some arbitrary parameters set by the programmer to best simulate something as he sees it. For instance, as much as you can take into consideration the RPM and atmospheric variables, you still need to make some decisions about how this model will end up working: how long does it take for the ice to completely stop the engine? How much RP

[2016-08-12 16:22] ghost commented on #42
Yep.. So we wait with this till it's implemented in the c172p and then adapt it?

[2016-08-12 16:23] ghost commented on #41
Is the code for this still there anywhere?

[2016-08-12 16:23] ghost commented on #40
You can change the position of the legs in AC3D, @Harald67

[2016-08-12 16:24] gilbertohasnofb commented on #42
Yes. And either we wait a little bit until my implementation is finished, or we wait a bit longer until a better implementation is done by onox. But personally as cool as this feature is I don't think it's a high priority right now. As amazing job as this c150 is already, it still needs a lot of work (e.g. improvements to the 3D model and UV-mapping, which I am anxiously waiting for as what really

[2016-08-12 16:26] ghost commented on #42
in which you are for sure the best ;) (texturing)

[2016-08-12 16:27] gilbertohasnofb commented on #42
Thanks, D-ECHO! :smile:

[2016-08-12 16:33] ghost commented on #42
Just a general note, I'll be away two weeks from tomorrow on so I can't do any contributions during that time but I'm curious how it'll be when I come back! ;) :D

[2016-08-12 16:37] ghost commented on #42
Btw @gilbertohasnofb @Harald67 how to add labels, milestones or assignees?

[2016-08-12 16:49] Harald67 commented on #41
The change was just:

[code]

see bug #2

[2016-08-12 16:56] Harald67 commented on #42
Perhaps I just need to add you to the project...let's see if that work.

Also note that there is no reason to rush, I know that there are things that need more work but my aim was to have a not so bad version of the aircraft for FG 2013.3 (that should arrives very soon).
Thanks to Gilberto we were able to fix most problems and even add more things that I would have put in that version.

[2016-08-12 16:57] ghost commented on #41
For me it works fine with
`
            if( pump < 1) {`

[2016-08-12 16:58] ghost commented on #42
yep, works thanks :D

[2016-08-12 16:59] ghost commented on #42
and, I know off-topic but I'd again like to **thank you both very much for the beautiful work!!**

[2016-08-12 17:10] ghost commented on #41
@gilbertohasnofb Could you short try if it works for you if just change the thing @Harald67 wrote?

[2016-08-12 18:39] gilbertohasnofb commented on #41
@D-ECHO I will check it now

[2016-08-12 18:42] gilbertohasnofb commented on #41
Yes, I can start the engine fine. I really don't know what was happening before, but we can revert that and see how it goes.

[2016-08-12 20:10] ghost commented on #41
okay, please do that and have a nice time ;)

[2016-08-13 17:00] Harald67 opened #46 "Can not open window with Ctrl-d"
since the change of the way the windows open.

[2016-08-13 17:10] #39 closed

[2016-08-13 17:14] Harald67 commented on #40
I added the generic pilot so that we can take plausible screen shot (no ghost aircraft), but this will need more work for a later release.
I wanted to add the walker pilot/co pilot but I had some nasal error that would take to much time to debug. I'll do that later.

[2016-08-13 17:15] #41 closed

[2016-08-13 17:19] Harald67 opened #47 "The battery should discharged faster when starting the engine"
split from #43

The starter is not modeled yet in the electrical circuit. The battery should discharge a lot faster as soon as the started is added.

[2016-08-13 18:23] Harald67 opened #48 "Create new UV mapping"
of the aircraft fuselage and the cabin.

[2016-08-13 18:30] Harald67 opened #49 "Create new textures"
We could use a new texture for the fuselage and the cabin.
We need to compute an ambiant occlusion map for reference.

How to handle placards ? Should they be included in the textures or can we put them in some kind of overlay in the cabin (a separate polygon near the cabin texture) ?

I've completed the interior shader so that we can use bump mapping inside the cabin, is it of any use ?

[2016-08-13 18:35] Harald67 opened #50 "Wings are missing the stall horn hole"
and overhead cabin vent.

![image](https://cloud.githubusercontent.com/assets/6804046/17644903/50616046-6195-11e6-8c9a-7264f5f497ae.png)

[2016-08-13 18:42] Harald67 opened #51 "Add fuel valve"
that disappeared in the remake of the c150.

![image](https://cloud.githubusercontent.com/assets/6804046/17644927/524c9802-6196-11e6-98a5-ddd773980356.png)

This is needed for the checklist.

[2016-08-13 18:43] Harald67 opened #52 "Add ALS procedural lights"
![image](https://cloud.githubusercontent.com/assets/6804046/17644942/fdeeb596-6196-11e6-8c42-55c1a7049b66.png)

[2016-08-13 18:50] Harald67 opened #53 "Complete the checklist"
The position of the marker object is missing a few times.

[2016-08-13 18:52] Harald67 opened #54 "Add the panel night light"
We have lighted instrument but the panel stays dark.

A lightmap should do the trick.

We could also add a Rembrandt light for the Rembrandt users.

[2016-08-13 18:55] Harald67 opened #55 "Circuit breakers"
we can reset them with the recharge battery button but we should be able to reset them individually and view their states.

[2016-08-13 18:58] Harald67 opened #56 "Make a taildrager version of the c150"
because it's fun.
![2_n2768s](https://cloud.githubusercontent.com/assets/6804046/17644994/8c73352a-6198-11e6-8763-50f5c3056780.JPG)

[2016-08-13 19:01] Harald67 opened #57 "Make a 150hp version"
http://wings.esisupply.com/introduction150150.html

[2016-08-14 15:19] Harald67 commented on #43
Looking at jsbsim code I saw that the engine in running when rpm > 0.8 \* idle rpm, so I reduced the value of Idle rpm.
I hope that there is no side effect.

[2016-08-14 15:19] #43 closed

[2016-08-14 17:36] Harald67 commented on #47
I've added a 100 Ampere starter.
But the electrical circuit code will not discharge the battery with that.

[2016-08-14 17:36] #47 closed

[2016-08-14 21:14] gilbertohasnofb commented on #43
:+1:

Let's keep our eyes opened then.

[2016-08-14 21:15] gilbertohasnofb commented on #56
That's really cool! Maybe @wlbragg would be interested in this, as he is the one who loves the bush planes :wink:

[2016-08-14 21:15] gilbertohasnofb commented on #54
I would wait for this until we have the cockpit fully texturized

[2016-08-14 21:16] gilbertohasnofb commented on #51
@Harald67 do you need a texture for this?

[2016-08-14 21:16] gilbertohasnofb commented on #48
:+1: When this is done I will take a look at https://github.com/Harald67/c150/issues/49

[2016-08-14 21:22] gilbertohasnofb commented on #49
Absolutely! So when the new UV mapping is done I will start the work.

Once the UV mapping is done, I would appreciate if you export not only the paintkit (which will look like [this](http://members.aon.at/mfranz/uvmap.jpg) ), but also the AOMap which I would apply as a semi-transparent layer. See the c182s cockpit for an example, the use of AOMap both in the interior and exterior textures make a

[2016-08-15 07:04] Harald67 commented on #51
Yes, the old one was really small.
c150-int2.png :
![image](https://cloud.githubusercontent.com/assets/6804046/17657859/011f7814-62c7-11e6-9b47-8db23cfc9d6f.png)

[2016-08-15 13:05] gilbertohasnofb commented on #51
@Harald67 Ok, so I will work on it, bur there is not much space left on `c150-int2.png`, so what if I add this texture to the `c150-obj.png`?

[2016-08-15 14:38] Harald67 commented on #51
yes, good idea.

[2016-08-15 17:06] gilbertohasnofb commented on #51
Done, see:

![fuel selector](https://cloud.githubusercontent.com/assets/5700795/17673036/8f36a6f6-631f-11e6-9278-755728d4fb0f.png)

I based it on the following photograph:

![](http://www.holliseaster.com/gallery/d/3524-2/IMG_0410.JPG)

I added it to the `-obj.png` file and remove the older one from `-int2.png` to make space there. The modifications are already pushed in the new branch `bug-51`.

[2016-08-15 17:38] Harald67 commented on #51
Thank you !

[2016-08-15 17:40] gilbertohasnofb commented on #51
My pleasure :wink:

[2016-08-17 10:03] Harald67 commented on #46
Can not open the windows from the aircraft option dialog.

[2016-08-17 10:35] gilbertohasnofb commented on #46
@Harald67 maybe you could use `<script>c150.leftWindow.toggle();</script>` and `<script>c150.rightWindow.toggle();</script>` on the aircraft dialog as well, since this would animate the windows rather than extend them instantaneously. The downside is that a checkbox wouldn't make much sense there, it would rather have to be a button I believe.

[2016-08-17 13:16] ghost commented on #46
The system changed. i will repair/improve the menu and Ctrl d code when I'm
back in One and a half weeks please leave this till then

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Can not open window with Ctrl-d (#46)
Datum: 17.08.2016, 12:35 Uhr
An:

[2016-08-17 16:06] Harald67 opened #59 "Various animation bugs with wheels and gear struts"
- the wheels don't spin at the correct speed, they spin too fast
- the nose gear strut has an animation problem when turning left of right like if the axis was not aligned
- the upper and lower damper objects dont reach at the correct position
- the nose gear strut should be remodeled and textured (the chrome animation does not work anymore)

[2016-08-17 18:41] Harald67 commented on #51
The valve still need to be animated.
I can't find the fuel switch property atm...

[2016-08-18 09:09] gilbertohasnofb commented on #51
In the c172p we use `/consumables/fuel/tank[0]/selected`, which is a boolean.

[2016-08-18 09:13] gilbertohasnofb commented on #51
Also, I have the impression the plaque with the fuel selector texture I created is too large, are you sure about its size Harald?

[2016-08-18 09:16] gilbertohasnofb opened #60 "Issues with the gauges"
I just noticed some issues with the gauges:

- blue color above all instruments (see image 1 below), is that supposed to be the glass over the gauges? If so, could we tweak this effect down a lot? I think it looks really strange
- the Attitude Indicator is too far back (see image 2)
- ~~instrument light doesn't work any more~~

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/

[2016-08-18 09:35] Harald67 commented on #51
Now that you ask, I really have no clue of its real size and I could not find any photo that could help.
How small should it be ? half size ? 3/4 of the current size ?

[2016-08-18 09:42] Harald67 commented on #60
I'll have a look for the color problem. I don't know if it's the glass because I have a rendering problem with that glass, I thought that the strange color came from the material of the instruments (they use ambient = 1.0 instead of 0.2).

The instrument light is working fine here.

[2016-08-18 10:55] gilbertohasnofb commented on #60
Derp, here as well, I just had forgotten to turn on the battery :disappointed:

But have you always seen the instrument with such a bluish color? For me it started after I pulled the latest modifications today.

[2016-08-18 11:00] gilbertohasnofb commented on #51
I also do not know exactly the size, but looking at the photograph in this https://github.com/Harald67/c150/issues/51#issuecomment-239862302 I would say it has to be around half of the current size, maybe a bit larger. See how the plaque is slightly smaller than the handle itself, so we can use that as a reference.

[2016-08-18 13:20] ghost commented on #47
Why close this issue? As far as I understand battery still doesn't discharge faster..

[2016-08-18 13:21] ghost commented on #43
As a side effect for sure the Idle rpm will be lower but as long as it's realistic

[2016-08-18 13:24] ghost commented on #39
Thanks!

[2016-08-18 13:37] gilbertohasnofb commented on #43
Why? Which property are you thinking about changing which would have such side effect?

[2016-08-18 13:48] Harald67 commented on #47
I think It is now a problem of modeling the battery behavior. The actual code is doing a linear computation of the charge percentage of the battery based on the current usage. This is perhaps not what happens in real life but I doubt we can find a better approximation.

With the 100 Ampere starter the battery discharges faster than before but probably not as fast as it should.

[2016-08-18 13:58] gilbertohasnofb commented on #47
Yep, I can confirm that this issue has been fixed, the starter does discharge the battery faster. @D-ECHO are you sure you did a `git pull` and are on the `master` branch?

[2016-08-18 14:31] ghost commented on #47
sry misunderstood what Harald wrote and am not near a computer ftm

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] The battery should discharged faster when
starting the engine (#47)
Datum: 18.08.2016, 15:58 Uhr
An: Harald67/c150
Cc: D-ECHO, Mention

Y

[2016-08-18 17:21] Harald67 commented on #60
It was really the glass, I changed the material when I was testing the sun visor.

[2016-08-18 17:31] gilbertohasnofb commented on #51
@Harald67 thanks for the fix, it looks much better. But I think in the OFF position the handle should be pointing down, not up.

[2016-08-18 17:34] gilbertohasnofb commented on #59
Would it also be possible to lower the contact point of the wheels and ground a bit so that the wheels do not "enter" the ground?:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17783960/c852333a-657a-11e6-9ac7-e2104b612ea4.png)

[2016-08-19 07:58] Harald67 commented on #51
Another photo for reference.
![image](https://cloud.githubusercontent.com/assets/6804046/17802910/59bb2b24-65f3-11e6-8d29-bd4f9da9995e.png)

[2016-08-19 18:56] gilbertohasnofb commented on #51
That's a great picture! So I think the current size we have now is fine, what do you think?

[2016-08-20 09:46] Harald67 commented on #51
yes it should be good. Since I'm doing a bit of modeling in the cabin atm I've also moved the floor step a bit backward.

[2016-08-20 10:01] Harald67 commented on #51
Isn't the handle a bit large now ?
Also note that there is a strange effect with the tooltip, it does not update correctly when changing the position of the selector.

[2016-08-20 11:05] gilbertohasnofb commented on #51
I don't know, it looks fine to me.

I can reproduce it here, but I don't know what is causing it. But I wanted to ask you, are you sure you can use boolean expressions such as `var fuelOn = getprop("consumables/fuel/tank[0]/selected") or getprop("consumables/fuel/tank[1]/selected");` when declaring a variable? I never seen that before. Also, we could simplify those scripts a bit since the c150 has

[2016-08-21 08:50] Harald67 commented on #51
The problem is that there is two tanks in the fuel & payload dialog and each one can be selected individually there.

[2016-08-21 14:34] #51 closed

[2016-08-21 16:41] #60 closed

[2016-08-27 17:42] Harald67 commented on #59
I think it's detailed enough now.
![image](https://cloud.githubusercontent.com/assets/6804046/18029070/53885dde-6c8e-11e6-99d7-f420502928a3.png)

[2016-08-27 18:35] Harald67 commented on #59
Texturing will be done later #48 #49

[2016-08-27 18:35] #59 closed

[2016-08-27 18:37] Harald67 commented on #48
I still need to update the model a bit (cabin, nose) and then I'll do the UV mapping.

[2016-08-27 18:38] ghost commented on #59
beautiful

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Harald JOHNSEN
Betreff: Re: [Harald67/c150] Various animation bugs with wheels and gear
struts (#59)
Datum: 27.08.2016, 19:42 Uhr
An: Harald67/c150

I think it's detailed enough now.
[image]
https://cloud.githubusercontent.com/assets/6804046/

[2016-08-27 20:49] gilbertohasnofb commented on #59
Fantastic!

[2016-08-27 20:50] gilbertohasnofb commented on #48
Okay! I am still busy until this next Wednesday, but after that I will be glad to help with this work!

[2016-08-28 07:57] ghost commented on #46
Don't you think this system is at all a bit too complicated, why not assign one keybinding to one door? So you not have to select the door and then open it but are able to open it instantaneously?

[2016-08-29 06:07] Harald67 commented on #46
But the d key is / should be a standard among aircrafts and we can still open the doors with the option dialog.

[2016-09-01 11:08] D-ECHO opened #62 "Flaps without battery?"
At the moment the flaps are working independent of the electrical system, but as these are electrical flaps, shouldn't they depend on the battery/alternator switched on?

[2016-09-01 11:25] ghost commented on #57
Commit 1c2c437 added a 150 hp version :D

[2016-09-01 11:40] gilbertohasnofb commented on #57
I think the name `c150-150-set.xml` is very confusing, shouldn't we use `c150-150hp-set.xml`?

[2016-09-01 11:42] ghost commented on #57
Okay, I'll rename it

[2016-09-01 11:45] gilbertohasnofb commented on #62
No need for the question tag, the flaps are electrical and shouldn't work when the master is off.

[2016-09-01 11:48] ghost commented on #57
Commit edd4215 renamed files.

[2016-09-01 11:48] ghost commented on #55
Added a dialog for this in commit edd4215

[2016-09-01 11:48] #55 closed

[2016-09-01 11:49] ghost commented on #62
Okay, that was the question I had, now I can try to do it myself..

[2016-09-01 11:58] ghost commented on #62
In the last commit the property /controls/flight/flaps-serviceable will be set to false if no power is there, but flaps are still working, do you know how to change that @gilbertohasnofb @Harald67 ?

[2016-09-01 12:09] D-ECHO opened #63 "Add a walk view?"
For a preflight inspection this would be senseful, as it e.g. is for the CRJ700-family or we can add a walker as in the c172p

[2016-09-01 12:10] gilbertohasnofb commented on #62
I don't like using the `serviceable` property for that, I think this should be done via the electrical system. Maybe @Harald67 is the guy to take a look at this.

Also, here is another thing with this type of flap lever: as far as I know, you should hold the lever up or down to bring the flaps up or down while using the scale on the left side of the cockpit to see the position of the flap. That is

[2016-09-01 12:25] ghost commented on #62
Yep, IIRC you're right, so the complete flaps lever animation needs to be reversed.

[2016-09-01 14:33] ghost commented on #43
"so I reduced the value of Idle rpm."
Harald changed the value of idle rpm so the engine starts faster, but at the same time the idle RPM will be lower, because he reduced the value of idle RPM. If the idle RPM is still realistic that's just fine.

[2016-09-02 06:01] ghost commented on #53
In some checklist items there are doubles like
          `
  <name>Carburetor Heat - Cold</name>
            <value>COLD</value>
`
shall they be removed? ( changed to
`
            <name>Carburetor Heat</name>
            <value>COLD</value>`
)

[2016-09-02 06:14] #63 closed

[2016-09-02 06:27] Harald67 commented on #62
Yes we can do that. So instead of going from one position to another the animation code should just increment the position a bit. The tooltip should already work correctly.

I also agree that serviceable should not be used for that.

[2016-09-02 06:32] Harald67 commented on #63
You added the walker, but did you check that it works ? I'm not saying that there is a problem (I don't have the time to check atm), but last time I tried there were nasal bug in the configuration dialog of the walker, that's why I only added the generic pilot.

[2016-09-02 06:36] Harald67 commented on #57
Thank, but can you make a common file with the old c150-set.xml (c150-set.xml => c150-common.xml) and include them in the new c150-set.xml and c150-150hp.xml ?

[2016-09-02 07:10] ghost commented on #63
fir me it worked

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Harald JOHNSEN
Betreff: Re: [Harald67/c150] Add a walk view? (#63)
Datum: 02.09.2016, 8:32 Uhr
An: Harald67/c150
Cc: D-ECHO, Assign

You added the walker, but did you check that it works ? I'm not saying that
there is a problem (I don'

[2016-09-02 10:18] gilbertohasnofb commented on #62
@Harald67 :+1:

[2016-09-02 16:46] ghost commented on #53
I fixed the doubles in 5962430

[2016-09-02 16:46] #53 closed

[2016-09-02 16:46] ghost commented on #57
I made a common file, see commit 849236d

[2016-09-02 16:46] #57 closed

[2016-09-02 17:34] ghost commented on #52
In commit 0b386e8 the procedural lights from the c182s are added ;)

[2016-09-02 17:34] #52 closed

[2016-09-02 17:37] D-ECHO opened #64 "Beacon light is not flashing"
The beacon light (/systems/electrical/outputs/beacon) is steady, but it should be flashing, @Harald67 could you correct that in the electrical system?

[2016-09-02 17:46] D-ECHO opened #65 "Possible extra pitot tube?"
It looks like there are two pitot tubes under the left wing, @Harald67 do you know what the right one is (I guess the left one is a real pitot tube?).
![fgfs-screen-036](https://cloud.githubusercontent.com/assets/12275960/18213187/3296b4be-7147-11e6-9a00-604228c0d0d4.png)

[2016-09-02 17:50] ghost commented on #65
https://www.youtube.com/watch?v=aCWHcDVUX38 @ 9:00 and next half minute
There seems to not be any such thing on this ac...

[2016-09-02 17:51] gilbertohasnofb commented on #65
@D-ECHO two things:
- please embed the images at GitHub so we don't have to click on a link to see them. You can upload them directly here by clicking on the blue phrase "Attach files by dragging and dropping or selecting them" which is written under every message as we type, or you can use external links with the following code: `![](link)`, where `link` is the full url for the image
- Please try

[2016-09-02 17:55] ghost commented on #65
Okay, sorry @gilbertohasnofb

[2016-09-02 17:57] gilbertohasnofb commented on #65
No worries! Just pointing things out :smile:

[2016-09-02 17:57] gilbertohasnofb commented on #65
Thanks for the changes :+1:

[2016-09-03 06:02] ghost commented on #64
Sorry, I was just using a wrong property ;)

[2016-09-03 06:02] #64 closed

[2016-09-03 06:20] D-ECHO opened #66 "Why is the volumetric shadow disabled?"
Is there any specific reason why the volumentric ALS shadow is disabled? Otherwise I'd re-enable it with a correction to elevation. Also, I think the prop should not be inside the shadow, as it is unrealistic to have a standing propeller while flying ;)

[2016-09-04 07:03] Harald67 commented on #66
It was not working and the model used for the shadow is not a c150.

[2016-09-04 07:38] Harald67 commented on #65
This is a fuel vent but the position is wrong ; it should behind the wing strut.

![](http://www.flyingstart.ca/FlightTraining/preflight/pitottube.jpg)
![image](https://cloud.githubusercontent.com/assets/6804046/18229708/34dfed20-7283-11e6-85a2-d5c4965e1f2d.png)

[2016-09-04 08:06] Harald67 commented on #55
Thanks !

[2016-09-04 08:09] Harald67 commented on #63
Ok, the walker itself is working (or walking), thanks.

[2016-09-04 08:10] ghost commented on #66
Now the shadow is working (if ALS is enabled) and are you sure this isn't a c150?

[2016-09-04 08:11] ghost commented on #65
Yes, I also jut noted this, I will move it to the right position.

[2016-09-04 09:33] ghost commented on #65
Was corrected in 9e85a59

[2016-09-04 09:33] #65 closed

[2016-09-05 07:01] #66 closed

[2016-09-11 05:38] ghost commented on #42
The C172P seem to recently got a new carburator icing system, is this your implementation (gilberto) or the "better one by onox"? ;)

[2016-09-11 09:43] gilbertohasnofb commented on #42
@D-ECHO That was my implementation. We decided to merge it because it seems to work well, but also because we need more people testing for possible bugs which is why we announced it in the forum. So I would give it some time before adapting it here or on other projects, just to make sure everything works as expected.

[2016-09-11 09:45] gilbertohasnofb commented on #42
If anyone is interested, here is the discussion about my implementation: https://github.com/Juanvvc/c172p-detailed/pull/826 And here is the full discussion about the merits of certain approaches https://github.com/Juanvvc/c172p-detailed/issues/360

[2016-09-11 09:52] ghost commented on #42
Okay, thanks, though I have no expertise on the systems used there, I'll test if it behaves as expected in reality :D

[2016-09-11 09:56] gilbertohasnofb commented on #42
That's exactly what we are looking for! Take a look at the chart in the first link I posted above to see how icing should occur (given a combination of temperature and dew point), then see if it behaves as expected. The first post in that link explains how I did my testing. If you see anything odd, either post in the c172p thread in the forum or in our repo over there :smile:

[2016-10-10 16:27] gilbertohasnofb opened #67 "Problem with circuit breakers"
From this forum post here https://forum.flightgear.org/viewtopic.php?f=25&t=30641 :

The user does not specify which c150 he is using, but I suspect it is ours. Can anyone reproduce it? If not, I will attempt to do so myself later.

[2016-10-10 19:37] wlbragg commented on #67
I verified it.

I didn't notice that there was code to use the ALS landing light. I commented that I didn't think it was modeled yet because of that and I didn't see any exterior light modeled on the wing.

Sorry, I will correct my comment in the forum.

[2016-10-10 19:39] gilbertohasnofb commented on #67
@wlbragg Thanks a lot!
@Harald67 would you mind taking a look at this when you have time? I am not familiar with the ALS implementation of the lights.

[2016-11-13 17:52] ghost commented on #42
It's now for a pretty long time in the c172p and is working well, if I didn't miss anything.. Would you consider adding it to the c150 now? ;)

[2016-11-13 18:57] D-ECHO opened #68 "How to delete branches?"
I accidently made two branches which **both** can be safely deleted, how to do so? Once that is done I will create **one** new branch with the right changes for a pull request

[2016-11-14 08:22] gilbertohasnofb commented on #68
In the main page, there is a tab called branches and you can delete them from there, see: https://github.com/Harald67/c150/branches

[2016-11-14 08:24] gilbertohasnofb commented on #42
Well, it has not been a "pretty long time" in my opinion, it has been literally 2 months only :smile: Moreover, I didn't get a single piece of feedback concerning that system up to now, so to be honest there is not a single difference between today and two months ago. The thing is this system in the c172p will be shipped with 2016.4 so many more people will use it, and hopefully I will then receiv

[2016-11-14 15:38] ghost commented on #68
Thanks!

Am 14.11.2016 um 09:22 schrieb Gilberto Agostinho:

[2016-11-14 15:38] ghost commented on #42
Okay, that's fine :D

Am 14.11.2016 um 09:24 schrieb Gilberto Agostinho:

[2016-11-14 15:51] #68 closed

[2016-11-14 16:00] ghost commented on #30
"each of the three" -> maybe rather main gear and front gear as I don't think you can have a fairing on the left wheel but not on the right one ;)

[2016-11-14 16:01] ghost commented on #46
What about assigning like d -> front left door (should be the one most often used) and then shift-d -> copilot's door and so on?

[2016-11-14 16:24] ghost commented on #67
There is an ALS landing light which is working quite well and when just using the landing light while system is running on battery or engine and not while starting. When having the landing lights on while starting or switching them off and on again in a short time, they have a problem and so the circuit breaker goes out. So far this can maybe even be realistic on that kind of airplane, but a failu

[2016-11-14 16:25] ghost commented on #67
Btw, what we could add is that the landing light (at the cowling?) is lighted when landing light is on. At the moment there is just the ALS landing light

[2016-11-14 16:32] ghost commented on #67
After a short test I saw that actually the landing lights are the only ones reacting on a circuit breaker output. I don't know why they are reacting, while they don't work after the circuit breaker was one time out and why the other breakers don't work at all.

[2016-11-14 16:40] gilbertohasnofb commented on #68
My pleasure! :smile:

[2016-11-14 16:41] gilbertohasnofb commented on #42
Thanks for understanding it. Just a little bit longer and then we can import that code here, I just don't want to go through the trouble of fixing the same bugs in two or more repositories

[2016-11-14 16:41] gilbertohasnofb commented on #30
@D-ECHO Yeah, you are obviously right on that :+1:

[2016-11-14 16:42] ghost commented on #42
Yep I understand, no problem, just didn't want this part to disappear into forgetting

[2016-11-14 16:45] ghost commented on #30
This could be a dialog for this: `<?xml version="1.0"?>

<PropertyList>

[code]

</PropertyList>`
I don't want to add it as a commit/pull request yet as I'm still pending the pull request for the shadow and don't wanna cause confusion ;)

[2016-11-14 17:44] D-ECHO opened #70 "Liveries"
Hi,
as I wanted to create some liveries, I wanted to ask whether there is a svg/xcf paintkit or a blank version of the current only livery anywhere?

[2016-11-14 18:18] D-ECHO opened #71 "Cessna 152?"
When the Cessna 150 is more or less well done, maybe we could add a variant, the Cessna 152. I'm not sure, does it have a different airframe? I just know it has another engine..

[2016-11-17 17:55] gilbertohasnofb commented on #71
I believe the Cessna 152 has a different airframe, so it would be a different 3D model.

[2016-11-17 17:57] gilbertohasnofb commented on #70
I believe texturing and UV-mapping are not complete yet (by far) and I don't think the plane is ready for liveries -- I have been waiting anxiously for it myself as I really want to create some liveries.

[2016-11-17 18:00] gilbertohasnofb opened #72 "Procedural lights option in the aircraft dialog"
Do we really need to have a checkbox for procedural lights in the aircraft dialog? Can't we just enable them automatically if ALS is on, and disable them if ALS is off? They look much better IMO and so I see no point in letting the user choose it:

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/20401162/fb073bee-acf7-11e6-9ba4-8cc298aab880.png)

![fgfs-screen-004](https://cl

[2016-11-17 18:00] gilbertohasnofb commented on #72
@Harald67 also, the procedural lights could be a bit more intense (and thus larger), don't you think?

[2016-11-17 18:53] ghost commented on #70
Roger ;-)

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Liveries (#70)
Datum: 17.11.2016, 18:57 Uhr
An: Harald67/c150
Cc: D-ECHO, Author

Texturing and UV-mapping are not complete yet (by far) and I don't think
the plane is ready for liveries -- I ha

[2016-11-17 19:00] ghost commented on #72
if you tell me how I can make them bigger and if Harald agrees I can remove
the option . and know I practiced if clauses for my English class test ;-)

---

Gesendet mit der Telekom Mail App
http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: Re: [Harald67/c150] Procedural lights option in the aircraft
dialog (#72)

[2016-11-17 20:19] gilbertohasnofb commented on #72
@D-ECHO I am actually not familiar at all with the ALS lights, maybe try taking a look at c172p files

[2017-02-19 21:06] gilbertohasnofb commented on #48
@Harald67 are you still planning to work on this? I would be more than happy to work on the textures when the UV mapping will be finished.

[2017-02-19 21:13] gilbertohasnofb commented on #42
@Harald67 if you are interested, I have finished working on the carburettor for the c172p and I think it would be quite easy to adapt that code for the c150.

[2018-01-08 03:14] gilbertohasnofb opened #73 "Remove glass coloration"
At the moment the glass as viewed from the cockpit has a green tint. Perhaps it would look better to simply have a transparent glass such as in the c182s and c172p, as it gives an unrealistic coloration to the environment besides darkening it too much in my opinion.

[2018-01-08 03:15] gilbertohasnofb commented on #71
@D-ECHO I will close this as a c152 would be a different project. Besides that, awall86 is working on a great 152, though I don't know if the project is still active. See: https://forum.flightgear.org/viewtopic.php?f=4&t=27894

[2018-01-08 03:15] #71 closed

[2018-01-08 03:16] gilbertohasnofb commented on #48
@Harald67 If this ever gets done, I would be happy to work in some liveries for this plane.

[2019-11-04 17:22] D-ECHO opened #74 "Still active"
Hey @Harald67 @gilbertohasnofb ,
first of all, I'm sorry for all the problems and confusion I created in the past due to my bad development style. Just wanted to ask whether you're both still active and up for continuing this development?

[2019-11-04 18:30] gilbertohasnofb commented on #74
I am taking a back seat approach to FG development these days, I am really busy with RL. But I am still around, reading emails, merging a PR here and there. Happy to continue contributing to this albeit at a very slow pace if @Harald67 is still around.

[2021-01-10 12:41] D-ECHO commented on #74
Once again returning to this, after quite some time :D

I'd like to start getting involved in this project more again, fixing the open issues and making the aircraft compatible to Compositor etc. Thus I wanted to ask, whether you both are still on it @gilbertohasnofb @Harald67, i.e. if I should make a branch for every fixed issue and await review+approval on pull requests or if you don't really ca

[2021-01-10 12:41] D-ECHO commented on #74
oops, didn't want to close, just wanted to comment ;)

[2021-01-11 13:51] gilbertohasnofb commented on #74
@D-ECHO unfortunately I am away from FlightGear at the moment, really busy with some other stuff :cry: